<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOUUMPQkCQ7DUPn2ZLse2f_Ku-BDTlpaw</string>
	<key>GCM_SENDER_ID</key>
	<string>162924204857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sv.vk-app</string>
	<key>PROJECT_ID</key>
	<string>vk-app-13d69</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-app-13d69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162924204857:ios:287a62ee23abe474b98ee8</string>
</dict>
</plist>